.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

h1 {
  text-align: center;
  color: #307284; }
  h1 a {
    text-decoration: none; }

input[type=text] {
  display: block;
  border-style: none none solid none;
  border-width: .2em;
  border-color: green;
  text-align: center;
  height: 1.4em;
  font-size: 1.2em;
  line-height: 1.4em;
  margin-bottom: 1em; }
  input[type=text]:focus {
    outline: none; }
  @media only screen and (max-width: 90em) {
    input[type=text] {
      width: 30em; } }
  @media only screen and (max-width: 40em) {
    input[type=text] {
      width: 100%; } }

p, .credit {
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 1.1em; }

.credit {
  color: blue; }
  .credit a {
    text-decoration: none;
    color: blue;
    font-variant: small-caps; }

a.folkme {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  border: 0; }
  @media only screen and (min-width: 64.0625em) {
    a.folkme {
      display: inline-block; } }
